
.geo-learn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #f4f4f4;
  }
  
  .geo-video video {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  